<ion-list>

<ion-item class="border">
  <h3>#1</h3>
  You are driving too <br>
 close to the forest border.<br>
  Check the map.

</ion-item> 

<ion-item class="border">
  <h3>#2</h3>
  You ran over a small child. <br>
  Be more careful in the future.
</ion-item>

<ion-item class="border">
  <h3>#3</h3>
  The engine is heating up. 
</ion-item>  
    
<ion-item class="border">
  	<h3>#4</h3>
  	You fuel is running low.
</ion-item>  

<ion-item class="border">
  <h3>#5</h3>
  The cabin door has been locked <br>
  by your boss. You're not going home <br>
  today...Or tomorrow.
</ion-item>


</ion-list>