<ion-view title="Home">

<ion-content class="centeredImage">


<div>
  	<img src="img/oie.png" class="full-image padding">
</div>



<div class="row"></div>

<div class="row">
	<div class="col"></div>

	<div class="col" ng-repeat="item in collection"
		ng-class="{chosenLock: $index === selectedIndex}" 
		ng-click="itemClicked($index)">
		<img src="img/{{item}}.png" class="full-image">
	</div>

	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>	
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>

</div>

</ion-content>

</ion-view>