<ion-view title="">

<ion-tabs class="tabs-positive tabs-icon-bottom has-tabs-top tabs-top">

	<ion-tab title="Driving mode" ui-sref="app.settings.drive" icon="ion-model-s">
		<ion-nav-view name="tab-drive"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Cutting mode" ui-sref="app.settings.cut" icon="ion-scissors">
		<ion-nav-view name="tab-cut"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Contrast/Brightness" ui-sref="app.settings.adjust" icon="ion-toggle">
		<ion-nav-view name="tab-adjust"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Trash" ui-sref="app.settings.trash" icon="ion-trash-a">
		<ion-nav-view name="tab-trash"></ion-nav-view>
	</ion-tab>


</ion-tabs>


</ion-view>
