<ion-view title="">

	<ion-content id="myContent">
    
    <h4>Drag the elements to set their position</h4>

	<div id="imageContainer1">

  		<img src="img/topview.png"  id="topview" class="moveabletopview" 
        on-drag="onIonicDrag1($event)" data-tap-disabled="true">        

        <img src="img/closeup.png"  id="closeup" class="moveablecloseup" 
        on-drag="onIonicDrag1($event)" data-tap-disabled="true">        

        <img src="img/length.png"  id="length" class="moveablelength" 
        on-drag="onIonicDrag1($event)" data-tap-disabled="true">        

        <img src="img/diameter.png"  id="diameter" class="moveablediameter" 
        on-drag="onIonicDrag1($event)" data-tap-disabled="true">

	</div> 

	</ion-content>

</ion-view>